@font-face{
    font-family: CABINET;
    src: url(Fonts/futura\ medium\ bt.ttf)
    }

*{
    cursor: url(immage/lastovica.png), auto;
    align-items: center;
    
}


html{
    color: rgb(255, 225, 0); 


    }



body{
    margin-top: 300px;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    
    
    
    }

    header{
        position: relative;
        top: 50px;
        z-index: -1;
        width: 100%;
        text-align: center;
        
        
    
    }



    h1{ 
        
        
        font-family: cabinet;
        font-weight: bolder;
        font-size:100PX ;
        
        
    
    }

    h3{ margin-top: 200px;
        font-family: cabinet;
        font-size: 20px;
    }

    h4{
        margin-top: 50px;
        font-family: cabinet;
        font-size: 20px;
        font-weight: normal;
    }

    p{
        
        font-family: cabinet;
        font-size: 14px;
        font-weight: normal;
    }
    
    img{
        margin-top: 200px;
        margin-bottom: 200px;
        width: 500px;
        
    }
    


.tablink {
    position: sticky;
    top: 0px;
    margin-top: 200px;
    z-index: 1;
    align-self: center;
  font-family: CABINET;
  font-weight: bold;
  background-color: transparent;
  color:rgb(255, 225, 0);
  float: left;
  border: solid, rgb(255, 225, 0), 2px;
  outline: none;
  padding: 14px 16px;
  font-size: 30px;
  width: 33.333334%;
    min-width: fit-content;
  
}

.tablink:hover {
  background-color: rgba(18, 83, 97, 0.3);
}



/* Style the tab content (and add height:100% for full page content) */
.tabcontent {

    align-items: center;
    text-align: center;
    min-width: fit-content;
    padding: 100px;
    margin-top: 100px;
  align-self: center;
  color:rgb(255, 225, 0);
  display: none;
  
  height: 100%;
}

#About {background-color: rgba(18, 83, 97, 0.3);
border: solid, rgb(255, 225, 0), 2px;}
#CV {background-color: rgba(18, 83, 97, 0.1);
border: solid, rgb(255, 225, 0), 2px;}
#Portfolio {background-color:rgba(18, 83, 97, 0.1);
border: solid,rgb(255, 225, 0) , 2px;}

